.subtitle {
    text-align: center;
    margin-top: 50px;
}

.container {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    margin-top: 30px;
    width: 75%;
}

.employer,
.jobseeker {
    text-align: center;
    flex: 1;
    border: 2px solid red;
}

.employer {
    margin-right: 20px;
}