/* @import url('https://fonts.googleapis.com/css?family=Inconsolata&display=swap');



.profileStyle {

    text-align: center;
    font-size: 65px;
    margin-top: 20px;
    font-family: 'Inconsolata', monospace;
    margin-top: 0;
    color: black; */
