* {
  box-sizing: border-box;
}
.container {
  display: block;
  justify-content: center;

}

.mainheader {
  text-align: center;
  margin-top: 20px;
  font-size: 2em;
  font-family: 'Inconsolata', monospace;
}

.jobboard {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border: 1px solid black;
  text-align: center;
  font-family: 'Inconsolata', monospace;
}

.jobboard tr {
  list-style-type: none;
}

.jobboard th, .jobboard td {
  margin: 10px;
  font-size: 1.3em;

}

.jobcolumn td {
  margin-bottom: 10px;
}

.jobcolumn a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: black;
  margin: 0 10px;
  position: relative;
  font-family: 'Inconsolata', monospace;

}

.jobcolumn a,
.jobcolumn a:after,
.jobcolumn a:before {
  transition: all .5s;
}

.jobcolumn a:hover {

}

.jobcolumn a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: black;
  height: 1px;
  /* max-width: 100% */
}

.jobcolumn a:hover:after {
  width: 100%;
}
.job:hover {
  background-color: #ddd;
}


.edit {
  max-width: 16px;
  visibility: hidden;
}

.profileItem:hover  .edit{
  visibility: visible;
  cursor: pointer
}

.edit:hover {
  visibility: visible;
}

.profileItem input {
  display: inline-block;
}


/* .profileStyle img :hover{
  border: 1px solid red;
} */


.profileStyle {

    text-align: center;
    font-size: 15px;
    margin-top: 10px;
    font-family: 'Inconsolata', monospace;
    margin-top: 0;
    color: black;
  }
