@import url('https://fonts.googleapis.com/css?family=Inconsolata&display=swap');

nav {
    background-color: rgb(171, 96, 196);
    box-shadow: 0px 5px 0px #dedede;

}
.mainnav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    text-align: center;
    justify-content: center;
    padding: 30px;
}

.mainnav ul li {
    margin-right: 10px;
    display: inline-block;
}

.mainnav ul li a {
  display: block;
  padding: 15px;
    text-decoration: none;
    color: white;
    font-weight: 800;
    margin: 0 10px;
    opacity: 0.7;
    position: relative;
}

.mainnav ul li a,
.mainnav ul li a:after,
.mainnav ul li a:before {
  transition: all .5s;
}

.mainnav ul li a:hover {
  /* color: #555; */
  opacity: 1;
}

.mainnav ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: white;
  height: 1px;
  /* max-width: 100% */
}

.mainnav ul li a:hover:after {
  width: 100%;
}



.brand {
    text-align: center;
    font-size: 65px;
    margin-top: 20px;
    font-family: 'Inconsolata', monospace;
    margin-top: 0;
    color: white;
}

.inline {
    display: flex;
    flex-direction: row;
    font-family: 'Inconsolata', monospace;


}

.oddOneOut {
    cursor: pointer;
    font-family: inherit;
}
