
@import url('https://fonts.googleapis.com/css?family=Inconsolata&display=swap');

h1 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 15px;
    font-family: 'Inconsolata', monospace;
}

.error {
    border: 1px solid red;
}

.normal {
    border: 1px solid rgb(238, 238, 238);
}

input,
button,
textarea {
    margin-bottom: 10px;
    font-size: 15px;
    padding: 5px;
    font-family: 'Inconsolata', monospace;
    border: 1px solid rgb(238, 238, 238);
}

textarea {
    margin: 0 auto;
    margin-bottom: 10px;
    display: block;
    font-family: 'Inconsolata', monospace;
    resize: none;
}

form {
    display: flex;
    flex-direction: column;
    font-family: 'Inconsolata', monospace;
}

button {
    display: inline-block;
    text-align: center;
    border: none;
    background: rgb(171, 96, 196);
    padding: 10px;
    color: white;
    font-family: 18px;
    font-weight: bold;
    max-width: 200px;
    margin: 0 auto;
    border-radius: 18px 18px 18px 18px;
    font-family: 'Inconsolata', monospace
}

.subtitle {
    text-align: center;
    margin-top: 50px;
    font-family: 'Inconsolata', monospace


}

.container {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    margin-top: 30px;
    width: 60%;
}

.employer,
.jobseeker {
    text-align: center;
    flex: 1;
    border: 2px solid blue;
    margin-bottom: 100px;
    height: 200px;
    justify-self: center;
    overflow: hidden;
    padding: 10px;
    font-family: 'Inconsolata', monospace

}

.employer:hover,
.jobseeker:hover {
    cursor: pointer;
    flex: 1.1;
    box-shadow: 13px 24px 31px -6px rgba(0,0,0,0.75);
    border: 3px solid blue;
    border-radius: 18px 18px 18px 18px;
}

.employer {
    margin-right: 20px;
}

.employer img,
.jobseeker img {
    width: 100%;
    margin-top: 10px;
    max-width: 200px;
    max-height: 130px;
}

.regForm {
    margin-bottom: 100px;
}

.button {
    display: inline-block;
    text-align: center;
    border: none;
    background: blue;
    padding: 1px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    max-width: 200px;
    margin: 0 auto;
    font-family: 'Inconsolata', monospace
}

.errorMsg {
  color: red;
  text-align: center;
  font-size: 10px;
  padding:px;


}

.hidden {
  display: none;
}
