@import url('https://fonts.googleapis.com/css?family=Inconsolata&display=swap');


.container {
    max-width: 300px;
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 30px;
    font-family: 'Inconsolata', monospace;
}

input {
    display: block;
    margin: 2px auto;
    font-family: inherit;
}

.invalidLogin {
  color: red;
  text-align: center;
  font-size: 15px;
  margin-top: 30px;
  font-family: 'Inconsolata', monospace;
}
